name: Release

on: [push]

jobs:
  build:
  
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - uses: actions/cache@v3
      with:
        path: ~/.cache/pypoetry
        key: ${{ hashFiles('poetry.lock') }}
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install --with dev

    - name: Build package
      run: poetry build

    - name: Publish package
      run: poetry publish --dry-run
